*{    
    text-decoration: none;
    background-repeat: no-repeat;   
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    width: 90%;
}
.flex_container {
    display: flex;
}
section{
    margin-bottom: 50px; 
}

/* Welcome Item */
#welcome_item{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.wel_sub_item{
    width: 50%;
}
.left_wel_item h1 {
    font-size: 50px;
}
.left_wel_item span{
    color: lightsalmon;
}
.wel_text {
    color: dimgray;
    line-height: 30px;
}
.wel_btn{
    color: whitesmoke;
    font-weight: bold;
    background-image: linear-gradient(tomato,rgb(243, 128, 83));
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.wel_btn:hover {
    background: orangered;
}
.right_wel_item img {
    width: 70%;
    padding:10% 0% 0% 20% ;
}
/* Dream Item */

#dream_item{
    background-image: url(/images/dream-bg.png);
    background-position:right;
}
.dre_sub_item{ 
    width: 50%;
}
.left_dream_item img{
    width: 70%;
    padding:10% 0% 0% 10%
}
.right_dream_item h2 {
    font-size: 60px;
}
.drem_text {
    color: dimgray;
    line-height: 30px;
}
.dre_btn {
    color: whitesmoke;
    font-weight: bold;
    background-image: linear-gradient(tomato,rgb(243, 128, 83));
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.dre_btn:hover {
    background: orangered;
}