*{    
    text-decoration: none;
    background-repeat: no-repeat;   
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    width: 90%;
}
.flex_container {
    display: flex;
}
section{
    margin-bottom: 100px; 
}

/* Welcome Item */
#welcome_item{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.wel_sub_item{
    width: 50%;
}
.left_wel_item h1 {
    font-size: 50px;
}
.left_wel_item span{
    color: lightsalmon;
}
.wel_text {
    color: dimgray;
    line-height: 30px;
}
.wel_btn{
    color: whitesmoke;
    font-weight: bold;
    background-image: linear-gradient(tomato,rgb(243, 128, 83));
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.wel_btn:hover {
    background: orangered;
}
.right_wel_item img {
    width: 70%;
    padding:10% 0% 0% 20% ;
}
/* Dream Item */

#dream_item{
    background-image: url(/images/dream-bg.png);
    background-position:right;
}
.dre_sub_item{ 
    width: 50%;
}
.left_dream_item img{
    width: 70%;
    padding:10% 0% 0% 10%
}
.right_dream_item h2 {
    font-size: 60px;
}
.drem_text {
    color: dimgray;
    line-height: 30px;
}
.dre_btn {
    color: whitesmoke;
    font-weight: bold;
    background-image: linear-gradient(tomato,rgb(243, 128, 83));
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.dre_btn:hover {
    background: orangered;
}
/* Experiences item */
#experiences{
    background-image: url(/images/exp-bg.png);
    background-position: left;
    padding-bottom: 100px;
}
.exper_header{
    font-size:40px ;
}
.exper_sub_item{
    width: 50%;
    padding: 0 10px 50px 20px;
    box-shadow: rgb(0 0 0 / 65%) 0px 6px 20px;
    border-radius: 5px;
    border-left: 08px solid ;
}
.left_exper_item h1 {
    font-size: 30px;
}
.exper_h3{
    color: orange;
}
.exper_text{
    color: dimgray;
    line-height: 30px;
}
.left_exper_item{
    margin-right: 50px;
    border-image: linear-gradient(#15b894, #8668f1) 30;
}
.right_exper_item{
    border-image: linear-gradient(#f6963c, #eb1111) 30;
}
.right_exper_item h1 {
    font-size: 30px;
}
/* footer item */
#footer p{
    color: dimgray;
    text-align: center;
}

